{% extends 'base.html'%}




{% block 'content' %}

<div class="container ">
    <div class="row text-center">
        <h3>
            Registro
        </h3>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 mx-auto sin-borde">
            
            <div class="card-body">
                {% if not user.is_authenticated %}
                <form method="post" class="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Registrarse" class="btn btn-primary boton-sesion my-3">
                </form>
                {% else %}
                <div class="my-4 fs-3 alert alert-red">
                    Ya eres un usuario registrado, {{ user.username }}.
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock 'content' %}